* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.side-bar {
  height: 100vh;
  width: 300px;
  &__user-name {
    height: 100px;
    background-color: #253141;
    display: flex;
    justify-content: center;
    align-items: center;
    &__top-items {
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
      &__name {
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;
        line-height: 20px;
      }
      &__icons {
        width: 60px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &__btn--edit {
          text-decoration: none;
          color: #ffffff;
        }
        &__btn--cog {
          text-decoration: none;
          color: #ffffff;
          margin-left: 5px;
        }
      }
    }
  }
  &__group-list {
    height: calc(100vh - 100px);
    width: 300px;
    background-color: #2f3e51;
    &__once-area {
      width: 100%;
      padding: 20px 20px 20px;
      &__name {
        color: #ffffff;
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__message {
        color: #ffffff;
        font-size: 11px;
      }
    }
  }
}

.chat-main {
  height: 100vh;
  width: calc(100vw - 300px);
  &__group-info {
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    &__left {
      &__name {
        font-size: 20px;
        color: #333333;
        margin-top: 35px;
      }
      &__member {
       font-size: 12px;
       color: #999999;
       margin-top: 15px;
       display: flex;
      }
    }
    &__right {
      height: 40px;
      width: 72px;
      margin-top: 28px;
      text-align: center;
      border: 1px solid #38aef0;
      &__edit {
        width: 100%;
        text-decoration: none;
        text-align: center;
        line-height: 40px;
        color: #38aef0;
        display: inline-block;
      }
    }
  }
  &__message-list {
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    &__once-area {
      padding-top: 46px;
      padding-left: 40px;
      &__top {
        display: flex;
        margin-bottom: 12px;
        &__name {
          font-size: 16px;
          font-weight: bold;
          color: #333333;
          margin-right: 10px;
        }
        &__date {
          font-size: 12px;
          color: #999999;
        }
      }
      &__bottom {
        font-size: 14px;
        color: #434A54;
      }
    }
  }
  &__message-form {
    height: 90px;
    width: 100%;
    background-color: #d2d2d2;
    padding: 0 40px;
    display: flex;
    align-items: center;
    &__input {
      width: 100%;
      display: flex;
      align-items: center;
      &__text-area {
        height: 50px;
        width: calc(100% - 115px);
        position: relative;
        &__text {
          height: 50px;
          width: 100%;
          padding: 0 10px;
          &__image {
            position: absolute;
            right: 10px;
            bottom: 1px;
            &__label {
              font-size: 30px;
              cursor: pointer;
              cursor: hand;
              &__file {
                display: none;
              }
            }
          }
        }
      }
      &__send {
        height: 50px;
        width: 100px;
        &__btn {
          background-color: #38aef0;
          color: white;
          padding: 12px 29px;
          margin-left: 15px;
        }
      }
    }
  }
}